body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav .brand-logo {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

main {
  flex: 1 0 auto;
  background-color: #fafafa;
}

li .post_Title {
  margin: 0px;
}

li .row {
  margin: 0px;
}

.bold {
  font-weight: 600;
}

.thin h6 {
  font-weight: 200;
  font-size: 1em;
  margin: 5px;
}

.normal h6 {
  font-weight: 400;
  font-size: 1em;
  margin: 5px;
}

.thin h5 {
  font-weight: 200;
  font-size: 1.5em;
  margin: 5px;
}

.normal h5 {
  font-weight: 400;
  font-size: 1.5em;
  margin: 5px;
}

.rememberMe {
  margin-left: 5px;
}

.parallax-container {
  height: "200px";
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #ffc107;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #ffc107;
}