body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav .brand-logo {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

main {
  flex: 1 0 auto;
}

li .post_Title {
  margin: 0px;
}

li .row {
  margin: 0px;
}

li .attributes {
  font-weight: 600;
}